<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 mb-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1460353581641-37baddab0fa2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1465479423260-c4afc24172c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1527090526205-beaac8dc3c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 text-center m-auto">
            <div class="mb-4">

                <h1>Best Festival Offers</h1>
                <hr class="w-50 m-auto mb-4">

                <p class="fs-4">
                    We are providing best quality materials. We have best quality shoes for men, women and kids.
                </p>
                <p class="fs-4">
                    50% Discount!!!
                </p>
                <button class="btn btn-primary text-dark" routerLink="/shop">Shop Now!!</button><br>
            </div>
        </div>
    </div>
</div>