<section class="about py-3" id="about">
    <div class="container">
      <div class="text-center">
        <h1>About Us</h1>
        <hr class="w-25 m-auto mb-4">
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12">
          <h1>What do you want to know?</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit numquam excepturi unde ipsum nulla, illum
            distinctio cum laborum ex rem, delectus cupiditate, aperiam cumque hic deleniti saepe incidunt! Pariatur
            eius nisi dolores alias iste laboriosam incidunt odio suscipit soluta illum. Aut laboriosam animi at rerum
            voluptatem dicta in! Vel, officiis error animi doloribus commodi recusandae at veniam ratione laboriosam
            voluptates.</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <strong>Our Heritage</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsum enim deleniti eligendi quae inventore quia tempore culpa eaque, fugiat modi, ipsam incidunt cupiditate, quisquam natus repudiandae necessitatibus error. </strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Our Company.</strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil praesentium optio iure quisquam facere laudantium, ab odio exercitationem voluptates fugiat? Inventore sequi ducimus aut totam dolorum ea laborum odit?</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <strong>How It Works.</strong>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda, sit atque non quas similique molestias, quam vero maiores, magni deleniti voluptatum officiis expedita? Deserunt at consequatur quis vero minus esse natus vitae nisi odit nemo quisquam repudiandae iusto saepe nostrum tenetur nam odio voluptatibus, mollitia molestias quam totam facilis placeat aliquid ex. Accusantium, aperiam?</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-end py-3">
          <img src="https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="img" class="img-fluid img-thumbnail">
        </div>
      </div>
    </div>
  </section>